
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="google-signin-client_id" content="209870168283-hqpjin6gr2p72j60g24viicvk5mibm52.apps.googleusercontent.com" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <title>_Layout</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Super Anwendung", "Index", "Home");
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Super Anwendung", "Index", "Home")</li>
                    <li>@Html.ActionLink("Leer", "Index", "Home")</li>
                    <li>@Html.ActionLink("Leer 2", "Index", "Home")<li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#" onclick="signOut();">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody();
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script type="text/javascript">
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;

            var profile = googleUser.getBasicProfile();
            console.log('ID: ', profile.getId());
            console.log('Name: ', profile.getName());
            console.log('Image URL: ', profile.GetImageUrl);
            console.log('Email: ', profile.getEmail);
            console.log('ID-TOKEN: ', profile.id_token);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', "http://localhost:41289/Home/Index");
            xhr.setRequestHeader('Content-Type', 'application-x-www-form-urlencoded');
            xhr.onload = function () {
                console.log('Signed in as:' + xhr.responseText);
            };
            xhr.send('id-token=' + id_token);
        }
    </script>
    <script type="text/javascript">
        function signOut() {
            var auth2 = gapi.auth2.getAutInstance();
            auth2.signOut().then(function () {
                console.log("Signed out")
            })
        }
    </script>
</body>
</html>
